<!DOCTYPE html>
<html lang="en">
<%- include ./partials/_header %>
<body style="font-size:20px; padding:20px;">
    SHORTURL: <%= shortURL %> URL:<%= longURL %>
    <form action="/urls/<%=shortURL %>" method="POST" style="margin:30px;">
    <label for="longURL">Enter a New URL:</label>
    
    <input id="longURL" type="text" name="longURL" value="<%=longURL%>" style="width: 300px">
    <button type="submit">UPDATE</button>
    </form>
</body>
</html>