<!DOCTYPE html>
<html lang="en">
<%- include ./partials/_header %>

    <body>

        <ul>
            <li>
                <% for(var key in urls) { %>
                    u/<%= key %> -->
                        <a href=<%= urls[key].longURL %>><%= urls[key].longURL %></a>
                        <form method="POST" action="/urls/<%=key%>/delete" style="margin:10px;">
                            <button type='submit'>DELETE</button>
                            <form method="POST" action="urls/<%=key%>" style="margin:10px;">
                                <a href="/urls/<%= key %>">Edit</a>
            </li>
            </form>
            <% } %>
        </ul>

        <a href="/urls/new">Make new Short URL</a>
    </body>

</html>